[submodule "nfc-reader/nfc-reader/nfc-reader/nfc-reader/lib/NDEF"]
	path = nfc-reader/nfc-reader/nfc-reader/nfc-reader/lib/NDEF
	url = https://github.com/haldean/ndef.git
[submodule "tft-display/tft-display/lib/Adafruit_GC9A01A"]
	path = tft-display/tft-display/lib/Adafruit_GC9A01A
	url = https://github.com/adafruit/Adafruit_GC9A01A.git
[submodule "tft-display/lib/Adafruit_GC9A01A"]
	path = tft-display/lib/Adafruit_GC9A01A
	url = https://github.com/adafruit/Adafruit_GC9A01A.git
